<div class="container">
    
    <div class="row mt-5" *ngIf="!loading">
        <div class="col-4 mb-5" *ngFor="let imagen of imagenes">
            <div class="card h-100">
                <img class="card-img-top img-thumbnail" [src]="imagen.previewURL" alt="Title" />
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Text</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="totalPaginas>1">
        <div class="col">
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item ">
                  <a class="page-link" *ngIf="pagina!=1" href="#" (click)="paginaAnterior()">&laquo;Anterior</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">{{pagina}}</a></li>
                <li class="page-item">
                  <a class="page-link" *ngIf="pagina!=totalPaginas" href="#" (click)="paginaSiguiente()">Siguiente&raquo;</a>
                </li>
              </ul>
        </div>       
    </div> 
    <app-spinner *ngIf="loading"></app-spinner>   
    
</div>